* {
	background-color: #3F3D56;
}
.error {
	text-align: center;
	display: block;
	margin-top: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #FFF;
	background-color: #EA526F;
}
.formContainer {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.loginForm {
	height: 375px;
	width: 400px;
	box-shadow: 2px 2px 2px 2px #EA526F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #EA526F;
	background-color: #FFF;
}
.signupForm {
	height: 475px;
	width: 400px;
	box-shadow: 1px 1px 1px 1px #EA526F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #EA526F;
	background-color: #FFF;
}
.changeNameForm {
	height: 250px;
	width: 400px;
	box-shadow: 1px 1px 1px 1px #EA526F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #EA526F;
	background-color: #FFF;
}
.changePasswordForm {
	height: 400px;
	width: 400px;
	box-shadow: 1px 1px 1px 1px #EA526F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #EA526F;
	background-color: #FFF;
}
.field {
	margin: 25px;
	display: flex;
	justify-content: center;
	background-color: #FFF;
}
input {
	margin-top: 25px;
	background-color: #FFF;
}
input:focus {
	outline: none;
}
input[type=text] {
	padding-bottom: 2px;
	border: none;
	border-bottom: 1px solid #EA526F;
	width: 350px;
	color: #3F3D56;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}
input[type=password] {
	padding-bottom: 2px;
	border: none;
	border-bottom: 1px solid #EA526F;
	width: 350px;
	color: #3F3D56;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}
label {
	background-color: #FFF;
}
.buttonWrapper {
	margin-top: -5px;
	display: flex;
	justify-content: center;
	background-color: #FFF;
}
.button {
	width: 350px;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #EA526F;
	text-decoration: none;
	border: 1px solid #EA526F;
}
.button:hover {
	background-color: #EA526F;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}
.linkWrapper {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	background-color: #FFF;
}
a {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	color: #3F3D56;
	font-size: 14px;
	background-color: #FFF;
}
.bottomWrapper {
	width: 100%;
	margin-top: 25px;
	justify-content: center;
	text-align: center;
}
#bottomLogo {
	font-size: 24px;
	color: #EA526F;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
	text-decoration: underline;
}

@media only screen and (max-width: 770px) {
	.formContainer {
		margin-top: 50px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.loginForm {
		height: 375px;
		width: 300px;
	}
	.signupForm {
		height: 475px;
		width: 300px;
	}
	.changeNameForm {
		height: 250px;
		width: 300px;
	}
	.changePasswordForm {
		height: 400px;
		width: 300px;
	}
	.button {
		width: 200px;
	}
}
