.header {
	width:100%;
	background-color: #FFFFFF;
	margin-top: 0;
	height: 75px;
	display: flex;
  	align-items: center;
  	border-bottom: 1px solid lightgray;
}

.logo a {
	margin-left: 25px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0328DD;
	text-decoration: none;
}

.headerList {
	margin-left: auto;
}

.headerList li {
	display: inline-block;
	padding-right: 40px;
}

.headerList li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: black;
}