.landingFront {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
}

.exampleThought {
	margin-top: 75px;
	width: 60%;
	min-width: 400px;
	height: 150px;
	background: #FFFFFF;
	box-shadow: 1px 1px 1px 1px #0328DD;
}

.add {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: right;
	font-size: 20px;
	color: #0328DD;
	text-decoration: none;
}

.exampleNote {
	margin-left: 5%;
	margin-top: 35px;
	width: 90%;
	min-width: 325px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	font-size: 20px;
	border: none;
	color: #0328DD;
} 

[contenteditable] {
  outline: 0px solid transparent;
}

.exampleDate {
	margin-left: 5%;
	margin-top: 25px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: left;
	font-size: 12px;
	color: #0328DD;
}


.landingText {
	margin-top: 75px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 42px;
	color: #0328DD;
	width: 100%;
}

.landingSecondText {
	margin-top: 35px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #44484B;
	width: 100%;
}

.buttonWrapper {
	margin-top: 35px;
	display: flex;
	justify-content: center;
}

.button {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #0328DD;
	text-decoration: none;
	border: 1px solid #0328DD;
}

.button:hover {
	background-color: #0328DD;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

.mockup {
	margin-top: 75px;
	width: 100%;
	background-color: #EBEEFF;
	overflow: hidden;
}

.mockup img {
	margin-right: 5%;
	float: right;
	padding-bottom: 50px;
	padding-top: 50px;
	width: 650px;
	height: 425px;
}

.mockupText {
	float: left;
	margin-left: 5%;
	margin-top: 50px;
	height: 425px;
	width: 40%;
	min-width: 350px;
	background-color: transparent;
}

.mockupText h1 {
	margin-top: 35px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	text-align: center;
	color: #0328DD;
}

.mockupList {
	margin-top: 35px;
	margin-left: 45px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	text-align: left;
}

.mockupList li {
	margin-top: 35px;
}

.mockupList li p {
	color: #44484B;
}

.mockupText a {
	color: #0328DD;
}

.final {
	width: 100%;
	background-color: 100px;
}
