*{
	margin: 0;
	padding: 0;
	/*-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;*/
    -webkit-appearance:none;
    font-family: Verdana, Geneva, sans-serif;
}
body {
	background-color: #3772FF;
}
textarea {
	resize: none;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.betaBanner {
	margin-top: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
	margin-left: 5%;
	background-color: #03045E;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.betaBanner a {
	color: #FFF;
}
.upcoming {
	margin-top: 100px;
	text-align: center;
}
.upcoming h1 {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 24px;
	background-color: #03045E;
	color: #FFF;
	padding: 3px;
	padding-bottom: 5px;
	font-weight: normal;
	font-style: italic;
}
.upcoming p {
	margin-top: 25px;
	font-size: 18px;
	margin-bottom: 25px;
	background-color: #FFF;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.upcoming a {
	color: #FFF;
	padding: 10px 10px;
	background-color: #03045E;
}
#landingFirst {
	height: 100vh;
	background-image: url(headerimg.svg);
	background-position: center;
	background-size: cover;
}
.navigationHeader {
	display: flex;
  	align-items: center;
	width: 100%;
	height: 75px;
	background-color: #FFF;
	top: 0;
	position: fixed;
	z-index: 2;
	border-bottom: 1px solid #03045E;
}
#logo {
	margin-left: 5%;
	font-size: 24px;
	color: #03045E;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
}
#topNav {
	margin-left: auto;
	margin-right: 5%;
}
.navigation li {
	float: right;
	display: inline-block;
	padding-bottom: 2px;
	background-color: #FFF;
}
.navigation li a {
	text-decoration: none;
	font-size: 14px;
	margin-right: 40px;
	color: #03045E;
}
#landingFirstText {
	margin-left: 10%;
	margin-right: 5%;
	max-width: 450px;
	padding-top: 100px;
	background-color: #3772FF;
}
#landingFirstText h1 {
	font-size: 36px;
	color: #FFF;
	font-style: italic;
	background-color: #03045E;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}
#landingFirstText p {
	font-size: 18px;
	color: #03045E;
	background-color: #FFF;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
#pAnswer {
	padding-bottom: 25px;
	font-style: italic;
	margin-bottom: 50px;
}
#signupBtn {
	text-decoration: none;
	background-color: #03045E;
	padding: 15px 50px; 
	color: #FFF;
	background-color: #03045E;
}
#signupBtn:hover {
	background-color: #0608B2;
}
#landingSecond {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
.secondLeft {
	flex-basis: 50%
}
.secondLeft img {
	width: 100%;
}
.secondRight {
	flex-basis: 50%;
}
.secondRight h1 {
	font-size: 30px;
	margin-right: 5%;
	color: #FFF;
	font-style: italic;
	background-color: #03045E;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.mockupList {
	font-size: 18px;
	color: #03045E;
	background-color: #FFF;
	margin-right: 5%;
}
.mockupList li {
	list-style: none;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#landingThird {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#footer {
	width: 100%;
	height: 110px;
	margin-top: 100px;
	background-color: #03045E;
	text-align: center;
	padding-top: 50px;
    bottom: 0;
}
#footer a {
	background-color: #FFF;
	color: #03045E;
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
	font-style: italic;
}
#footer p {
	margin-top: 15px;
	color: #FFF;
	font-size: 10px;
}
.dropdown {
	min-width: 125px;
	cursor: pointer;
}
.hoverAccount {
	color: #FFF;
	padding: 10px;
	background-color: #3772FF;
	text-align: center;
	font-size: 16px;
}
.dropdown-content {
  	display: none;
  	position: absolute;
  	z-index: 1;
}
.dropdown-content a {
  	padding: 12px 0px;
  	padding-left: 12px;
  	text-decoration: none;
  	display: block;
  	width: 93%;
  	background-color: #03045E;
}
#dropdownLink {
	color: #FFF;
}
.dropdown-content a:hover {
	background-color: #0608B2;
}
.dropdown:hover .dropdown-content {
  	display: block;
}
#newNote {
	margin-top: 50px;
}
details summary {
	background-color: #03045E;
	color: #FFF;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 25px;
	font-style: italic;
	cursor: pointer;
	outline: none;
}
#downArrow {
	text-align: right;
	font-style: none;
}
#newNoteFormContainer {
	width: 100%;
}
#thoughtText {
	padding-top: 10px;
	width: 90%;
	margin-left: 5%;
	text-indent: 10px;
	font-size: 18px;
	outline: none;
	border: none;
	min-height: 90px;
}
.thoughtButtonWrapper {
	margin-top: 5px;
	padding-bottom: 10px;
}
.thoughtButton {
	margin-left: 5%;
	cursor: pointer;
	font-size: 14px;
	background-color: #03045E;
	border: none;
	color: #FFF;
	padding: 10px 10px;
}
.thoughtButton:hover {
	background-color: #0608B2;
	color: #FFF;
}
.noNotes {
	color: #FFF;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 14px;
}
.userLine {
	height: 2px;
	background-color: #03045E;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 25px;
}
#displayedNotes {
	margin-top: 25px;
	min-height: 400px;
}
#note {
	margin-bottom: 25px;
}
#noteSummary {
	height: 0px;
	color: #FFF;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #03045E;
}
#collapseNote {
	text-align: right;
	margin-right: 10px;
	margin-top: -10px;
}
/*#noteSummary:hover {
	background-color: #0608B2;
}*/
#noteSummary::-webkit-details-marker {
  display: none;
}
.noteShown {
	margin-left: 5%;
	margin-right: 5%;
	border: 5px solid #0608B2;
	background-color: #FFF;
	margin-bottom: 0px;
}
#noteText {
	padding-top: 10px;
	padding-left: 10px;
	width: 97%;
	border: none;
	outline: none;
	font-size: 18px;
	min-height: 100px;
}
.deleteNote {
	margin-top: -5px;
	margin-left: 5%;
	margin-right: 5%;
	border-left: 5px solid #0608B2;
	border-right: 5px solid #0608B2;
}
.deleteButtonWrapper {
	background-color: #FFF;
	width: 100%;
	display: flex;
	padding-bottom: 5px;
	border-bottom: 7px solid #0608B2;
}
.noteDate {
	width: 99%;
	font-size: 16px;
	font-style: italic;
	background-color: transparent;
	margin-left: 10px;
	color: #03045E;
}
.deleteButton {
	margin-right: 10px;
	outline: none;
	border: none;
	background-color: transparent;
	color: #03045E;
	font-size: 20px;
	cursor: pointer;
	font-style: italic;
}
@media only screen and (max-width: 770px) {
	input, textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.betaBanner p {
		font-size: 12px;
		margin-left: 5%;
		margin-right: 5%;
	}
	.upcoming h1 {
		margin-left: 5%;
		margin-right: 5%;
	}
	#landingFirst {
		background-image: none;
	}
	#landingFirstText {
		padding-top: 50px;
		margin-left: 5%;
	}
	#landingSecond {
		margin-top: 0px;
	}
	.secondRight, .secondLeft {
		flex-basis: 100%;
	}
	.secondRight h1, ul {
		margin-left: 5%;
		margin-right: 5%;
	}
	.dropdown {
		min-width: 125px;
	}
}