*{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
textarea {
	resize: none;
}
.betaBanner {
	margin-top: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #3F3D56;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-align: center;
}
.betaBanner a {
	color: #FFF;
}
.upcoming {
	margin-top: 100px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}
.upcoming h1 {
	font-size: 24px;
	color: #3F3D56;
	text-decoration: underline #EA526F;
}
.upcoming p {
	margin-top: 25px;
	font-size: 18px;
	margin-bottom: 25px;
}
.upcoming a {
	color: #EA526F;
}
#landingFirst {
	height: 100vh;
	background-image: url(headerimg.svg);
	background-position: center;
	background-size: cover;
	font-family: Verdana, Geneva, sans-serif;
}
.navigationHeader {
	display: flex;
  	align-items: center;
	width: 100%;
	height: 75px;
	background-color: #FFF;
	top: 0;
	position: fixed;
	z-index: 2;
	font-family: Verdana, Geneva, sans-serif;
	border-bottom: 1px solid #E6E6E6;
}
#logo {
	margin-left: 10%;
	font-size: 24px;
	color: #EA526F;
	font-weight: bold;
	text-decoration: none;
}
#topNav {
	margin-left: auto;
	margin-right: 5%;
}
.navigation li {
	float: right;
	display: inline-block;
	padding-bottom: 2px;
}
.navigation li a {
	text-decoration: none;
	font-size: 14px;
	margin-right: 40px;
	color: #3F3D56;
}
#landingFirstText {
	margin-left: 10%;
	margin-right: 5%;
	max-width: 450px;
	padding-top: 100px;
	background-color: #FFF;
}
#landingFirstText h1 {
	font-size: 40px;
	color: #EA526F;
}
#landingFirstText p {
	font-size: 18px;
	color: #3F3D56;
	margin-top: 40px;
	margin-bottom: 40px;
}
#signupBtn {
	text-decoration: none;
	padding: 15px 30px; 
	color: #3F3D56;
	border: 2px solid #EA526F;
}
#signupBtn:hover {
	color: #FFF;
	background-color: #EA526F;
	border: 2px solid #FFF;
}
#loginLink {
	padding-top: 40px;
	color: orange;
}
#landingSecond {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 75px;
}
.secondLeft {
	flex-basis: 50%
}
.secondLeft img {
	width: 100%;
}
.secondRight {
	flex-basis: 50%;
}
.secondRight h1 {
	font-size: 30px;
	color: #EA526F;
	margin-right: 5%;
}
.mockupList {
	font-size: 18px;
	color: #3F3D56;
	margin-top: 40px;
}
.mockupList li {
	list-style: none;
	margin-top: 10px;
}
#landingThird {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#footer {
	width: 100%;
	height: 100px;
	margin-top: 100px;
	background-color: #EA526F;
	text-align: center;
	padding-top: 50px;
	font-family: Verdana, Geneva, sans-serif;
}
#footer a {
	color: white;
	font-size: 14px;
}
#footer p {
	margin-top: 5px;
	color: white;
	font-size: 8px;
}
.dropdown {
	min-width: 175px;
	cursor: pointer;
}
.hoverAccount {
	color: #FFF;
	padding: 10px;
	background-color: #EA526F;
	text-align: center;
	font-size: 16px;
}
.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #3F3D56;
  	z-index: 1;
}
.dropdown-content a {
  	padding: 12px 0px;
  	padding-left: 12px;
  	text-decoration: none;
  	display: block;
  	width: 93%;
}
#dropdownLink {
	color: #FFF;
}
.dropdown-content a:hover {
	background-color: #706E99;
}
.dropdown:hover .dropdown-content {
  	display: block;
}
#newNote {
	margin-top: 100px;
	font-family: Verdana, Geneva, sans-serif;
}
details summary {
	background-color: #3F3D56;
	color: #FFF;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 25px;
	font-style: italic;
	cursor: pointer;
	outline: none;
}
details summary::-webkit-details-marker {
  display: none;
}
#newNoteFormContainer {
	margin-left: 5%;
	margin-right: 5%;
	background-color: #EA526F;
}
.thoughtField textarea {
	width: 90%;
	margin-left: 10px;
	outline: none;
	border: none;
	color: #3F3D56;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	padding-left: 5px;
	margin-top: 25px;
	height: 75px;
}
.thoughtButtonWrapper {
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom: 25px;
}
.thoughtButton {
	cursor: pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background-color: #3F3D56;
	border: none;
	color: #FFF;
	padding: 10px 10px;
}
.userWelcome {
	margin-left: 5%;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #3F3D56;
}
.userLine {
	height: 2px;
	background-color: #3F3D56;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 25px;
}
#displayedNotes {
	margin-top: 50px;
	min-height: 500px;
}
.noteShownBanner {
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	border-top: 15px solid #3F3D56;
}
.noteShown {
	margin-bottom: 50px;
	border: 10px solid #EA526F;
}
#noteText {
	padding-top: 10px;
	padding-left: 10px;
	width: 99%;
	border: none;
	outline: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	min-height: 100px;
}
@media only screen and (max-width: 770px) {
	.betaBanner p {
		margin-left: 5%;
		margin-right: 5%;
	}
	.upcoming h1 {
		margin-left: 5%;
		margin-right: 5%;
	}
	#landingFirst {
		background-image: none;
	}
	#landingFirstText {
		padding-top: 50px;
	}
	#landingSecond {
		margin-top: 0px;
	}
	.secondRight, .secondLeft {
		flex-basis: 100%;
	}
	.secondRight h1, ul {
		margin-left: 10%;
		margin-right: 5%;
	}
	.dropdown {
		min-width: 125px;
	}
}